{% extends "facebook/base.html" %}
{% load facebook_tags %}
{% block content %}
  <h1>Login</h1>
  <div>{% show_facebook_photo user %}</div>
  <h2>{% show_facebook_greeting user %}</h2>
  <p>Please wait while we register you in the database. This should only take a second or two. You probably wont even have time to read this whole message.  </p>
  
  {% if login_form.errors %}
  <p class="error">Your username and password didn't match. Please try again.</p>
  {% endif %}

  <div style="display: none;">
    {% show_connect_button %}
  </div>

   <script>
     $(function() {
        $("#fbform").submit()
      });
   </script>

   <h4>Browser not redirecting?</h4>
  <form action="" method="post" id="fbform" accept-charset="utf-8" class="nice-form">
    {% csrf_token %}

    <input type="hidden" name="facebook_only" value="true" id="facebook_only">
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" id="next">        
    {% endif %}
    <p><input type="submit" value="Try this button instead"></p>
  </form>
{% endblock %}