<html>
  <head>
    <style type="text/css">
      body {
        font-family: Pacifico, "Helvetica Neue", sans-serif;
        position: relative;
        left: 20px;
      }

      .rightalittle {
        position: relative;
        left: 40px;
      }

    </style>
  </head>
  <body>

    <script>
      function save_and_view(){
        alert("I sure hope you saved before you clicked this. (TODO: fix this)");

        window.location = "/candidates/{{ user.username }}/normal";
      }
    </script>
    {% if is_candidate %}
      <h1>Edit your profile.</h1>
    {% else %}
      <h1>Information about {{ name }}.</h1>
    {% endif %}

    <br>
      <a href="/">Back to wall.</a>
    </br>

    <p>
      {% if is_candidate %}
        <form action="/candidates/{{ user.username }}/post/" method = "post">
          {% csrf_token %}
            <br>
              Put info about your campaign here:
            </br>

              <textarea name="content" cols="60%" rows="5" tabindex="4">{{ cand_info.content }}</textarea>

            <br>
              Image uploader goes here. But not now. (TODO)
            </br>
            <input type="submit" value="Save!" />

        </form>

        <a href="javascript:save_and_view();">View how the page looks to a normal user.</a>
      {% else %}
        {{ cand_info.content }}
      {% endif %}
    </p>

    <h2>
      Challenges:
    </h2>

    {% for challenge in challenges %}
      <br>{{ challenge.content }}</br>

      <!-- TODO: I copied a lot of stuff here... -->
      <div class="rightalittle">
        {# Show every comment to the post, and nudge it to the right #}
        {# a little. #}

        {% for comment in challenge.comment_set.all %}
          {% include "post.html" with post=comment %}
        {% endfor %}

        {% include "postcomment.html" with address="/comment"  showchallenge="false" id=challenge.id %}
      </div>

    {% endfor %}

  </body>
</html>