{% extends "skeleton.html" %}

{% load markup %}

{% block title %}{{ candidate.get_full_name }}'s Profile &mdash; {% endblock %}

{% block scripts %}
<script>
  function save_and_view(){
    alert("I sure hope you saved before you clicked this. (TODO: fix this)");
    window.location = "/candidates/{{ user.username }}/normal";
  }
</script>
{% endblock %}

{% block content %}
{% if is_candidate %}
  <h2>Edit your profile.</h2>
{% else %}
  <h2>Candidate information</h2>
  <h3>{{ candidate.get_full_name }}</h3>
{% endif %}

<p><a href="/">Back to wall.</a></p>

{% if is_candidate %}
  <form id="campaign" action="/candidates/{{ user.username }}/post/" method="post">
    {% csrf_token %}
    <label for="campaigntext">Enter campaign info:</label>
    <textarea id="campaigntext" name="newinfo">{{ user.get_profile.info }}</textarea>
    <input class="button right" type="submit" value="Save!"/>
    <div class="clear"></div>
  </form>

  <p><a href="javascript:save_and_view();">View how the page looks to a normal user.</a></p>
{% else %}
  {{ candidate.get_profile.info|markdown:"safe" }}
{% endif %}

<h2>Challenges:</h2>

<div id="posts">
{% for challenge in challenges %}
  <div class="thread">
    {% include "post.html" with post=challenge %}
    <div class="rightalittle">
      {% for comment in challenge.comment_set.all %}
        {% include "post.html" with post=comment %}
      {% endfor %}
    </div>
  </div>
  {% if not challenge.challenge_answered %}
    {% include "postcomment.html" with id=post.id %}
  {% endif %}
{% empty %}
  <p>None yet! Why not <a href="/">challenge</a> this candidate?</p>
{% endfor %}
</div>
{% endblock %}