{% extends "skeleton.html" %}
  
{% block title %}Home &mdash; {% endblock %}

{% block content %}
  {% if user.is_authenticated and user.facebook_profile.is_authenticated %}
  <ul id="choices">
  	<li><div class="tab"><strong><img src="{{ STATIC_URL }}icons/comments.png" alt=""/> Comment</strong></div></li>
  	<li><a class="tab" href="javascript:void(0);"><strong><img src="{{ STATIC_URL }}icons/shield.png" alt=""/> Challenge</strong></a></li>
  </ul>
  <div class="clear"></div>
  {% include "postchallenge.html" with user=user candidates=candidates %}
  {% endif %}

  <div id="sidebar">
	<h2>Candidates</h2>
    <h3>Most challenges answered</h3>
    {% if candidates %}
    <ol>
      {% for candidate in candidates %}
      <li><a href="/candidates/{{ candidate.username }}"><strong>{{ candidate.get_full_name }}</strong><span class="right">{{ candidate.get_profile.challenges_answered }}/{{ candidate.get_profile.challenges }}</span></a></li>
      {% endfor %}
    </ol>
    {% else %}
      <p>No candidates yet!</p>
    {% endif %}
    <h3>Support a candidate!</h3>
    {% if candidates %}
    <ol>
      {% for candidate in candidates %}
        {% if candidate != user_info.supports %}
          <li><a href="/support/{{ candidate }}/"><strong>{{ candidate.get_full_name }}</strong><span class="right">{{ candidate.get_profile.supporters }}</span></a></li>
        {% else %}
          <li><a class="supported" href="/support/{{ candidate }}/"><strong>{{ candidate.get_full_name }}</strong><span class="right">{{ candidate.get_profile.supporters }}</span></a></li>
        {% endif %}
      {% endfor %}
    </ol>
    {% else %}
      <p>No candidates yet!</p>
    {% endif %}
  </div>

  <div id="posts">
    <h2>The wall</h2>
  {% for post in posts %}
    {# Show every top level post #}
	<div class="thread">
      {% include "post.html" with post=post %}
      <div class="rightalittle">
        {% for comment in post.comment_set.all %}
          {% include "post.html" with post=comment %}
        {% endfor %}
      </div>
	</div>
    {% if not post.challenge_answered %}
      {% include "postcomment.html" id=post.id %}
    {% endif %}
  {% empty %}
    <p>No posts yet!</p>
  {% endfor %}
  </div>
  <div class="clear"></div>
  <div class="pagination"> 
    &laquo;
    {% for number in page_range %}
      {% if number != current_page %}
        <a href="/{{ number }}/">{{ number }}</a>
      {% else %}
        <span>{{ number }}</span>
      {% endif %}
    {% endfor %} 
    &raquo;
  </div>

{% endblock %}