{% extends "skeleton.html" %}
  
{% block title %}Home{% endblock %}

{% block content %}
  {% include "postchallenge.html" %}
  {% for post in posts %}
    {# Show every top level post #}

    {% include "post.html" with post=post %}

    <div class="rightalittle">
      {% for comment in post.comment_set.all %}
        {% include "post.html" with post=comment %}
      {% endfor %}

      {% include "postcomment.html" with address="comment"  showchallenge="false" id=post.id %}
    </div>

  {% endfor %}

  <h3>Make a new comment: </h3>
  {% include "postcomment.html" with address="newpost/" showchallenge="true" %}

  <h3>Leaderboard</h3>
  <ol>
    {% for candidate in candidates %}
      <li> {{ candidate.username }} : {{ candidate.get_profile.challenges_answered }} / {{ candidate.get_profile.challenges }} </li>
    {% endfor %}
  </ol>
{% endblock %}