<html>
  <head>
  </head>

  <body>
    <script>
      /* TODO: Verify email address, verify that passwords match */ 
    </script>

    <form action="/newaccountpost/" method = "post">
      {% csrf_token %}
      <br>Name: <input type="text" name="name" /></br>
      <br>Email: <input type="text" name="email" /></br>
      <br>Password: <input type="password" name="password" /></br>
     <br> Password (again): <input type="password" name="passwordagain" /></br>>
      <input type="checkbox" name="special" /> <br/>
      <input type="submit" value="New user!" />
    </form>
  </body>
</html>