{# Pass in: post #}
{% load facebook_tags %}

<div class="comment{% if post.challenge %}{% if post.challenge_answered %} answered{% else %} unanswered{% endif %}{% endif %}">
  <div class="commentimage">
    {% show_facebook_photo post.creators.user %}
  </div>

  <div>
    {% if post.creator == user.username %}
      <strong>You</strong> <span class="datetime">at {{ post.date_created }}</span>
    {% else %}
      {% if post.creators.is_special %}
        <strong><a href="/candidates/{{post.creator}}/">{{ post.creators.user.first_name }} {{ post.creators.user.last_name }}</a></strong> <span class="datetime">at {{ post.date_created }}</span>
      {% else %}
        <b>{{ post.creators.user.first_name }} {{ post.creators.user.last_name }}</b> <span class="datetime">at {{ post.date_created }}</span>
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if post.challenge %}
      <a href="/candidates/{{ post.challenged_user }}/">@{{ post.challenged_user.first_name }} {{ post.challenged_user.last_name }}</a>:
    {% endif %}
    {{ post.content }}
    <div class="clearleft"></div>
  </div>
</div>
