{# Pass in: post #}
{% load facebook_tags %}

<div class="comment">
  <div class="commentimage">
    {% show_facebook_photo post.creators.user %}
  </div>

  <div>
    {% if post.creator == user.username %}
      <strong>You</strong> <span class="datetime">at {{ post.date_created }}</span>
    {% else %}
      {% if post.creators.is_special %}
        <strong><a href="/candidates/{{post.creator}}/">{{ post.creators.user.first_name }} {{ post.creators.user.last_name }}</a></strong> <span class="datetime">at {{ post.creators.user.first_name }} {{ post.creators.user.last_name }}</span>
      {% else %}
        <b>{{ post.creators.user.first_name }} {{ post.creators.user.last_name }}</b> <span class="datetime">at {{ post.date_created }}</span>
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if post.challenge %}
      <p><a href="/candidates/{{ post.challenged_user }}/">@{{ post.challenged_user }}</a>:</p>
    {% endif %}
    {{ post.content }}
    <div class="clear"></div>
  </div>
  <div>
    {% if post.challenge %}
      {% if not post.challenge_answered %}
        This challenge is unanswered.
      {% endif %}
    {% endif %}
  </div>
</div>
