{% extends "skeleton.html" %}
  
{% block title %}Post detail &mdash; {% endblock %}

{% block content %}
  <h2>Post detail</h2>
    <div id="posts">
	  {% include "post.html" with post=post is_comment="false" %}
	  <div class="rightalittle">
	  {% for comment in post.comment_set.all %}
	    {% include "post.html" with post=comment is_comment="true" %}
	  {% endfor %}

      {% if not post.challenge_answered %}
	    {% include "postcomment.html" id=post.id %}
	  {% endif %}
	</div>
  </div>
{% endblock %}