{# Pass in : address, showchallenge, [id] #}

{% if loggedin %}
  <div class="foldout" id="foldoutcomment{{ id }}">
    {% if id %}
      <form action="/comment/{{ id }}/" method = "post">
	{% else %}
	  <form action="/comment/" method = "post">
    {% endif %}
      {% csrf_token %}
      <textarea name="content" cols="60%" rows="5" tabindex="4"></textarea>
      <input type="hidden" name="name" value="{{ user.username }}"/>
      <input class="button right" type="submit" value="Post!"/>
      <div class="clear"></div>
    </form>
  </div>
  <a class="reply" href="javascript:toggle_comment('foldoutcomment{{ id }}')">Reply &raquo;</a>
{% endif %}
