{% load facebook_tags %}

<!DOCTYPE html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    {% facebook_js %}
    <script src="{{ STATIC_URL}}js/main.js"></script>
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css"/>
    <title>{% block title %}{% endblock %}Stanford Hub</title>
  </head>
  <body>
  <div id="header">
	<div id="nav">
      <div class="centercolumn">
        {% if user.is_authenticated and user.facebook_profile.is_authenticated %}
        <small>Hi, <strong>{{ user.first_name }} {{ user.last_name }}</strong>.</small>
        {% endif %}
        {% show_connect_button %}
      </div>
    </div>
  	<div class="centercolumn">
      <h1><a href="/">Stanford Hub</a></h1>
    </div>
  </div>
  <div class="centercolumn">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
    {% block content %}{% endblock %}
    <div class="clear"></div>
    <div id="footer">
	  <p>Developed by <a href="http://twitter.com/thedayturns">Grant Mathews</a> and <a href="http://twitter.com/davidnoob">David Peter</a><br/><small>Server maintained by <a href="http://twitter.com/redburn22">Dan Thompson</a>. Distribution channels managed by<br/>alex lin and bharad raghavan. Icons by famfamfam.</small></p>
	</div>
  </div>
  {% initialize_facebook_connect %}
  </body>
</html>