<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        font-family: Pacifico, "Helvetica Neue", sans-serif;
        position: relative;
        left: 20px;
      }

      .rightalittle {
        position: relative;
        left: 40px;
      }
    </style>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script>
    /* ensure that CSRF token is sent with AJAX requests */
      $('html').ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
      });
    </script>
  {% block scripts %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
    <title>{% block title %}{% endblock %}{{ SITE_URL }}</title>
  </head>
  <body>
  <div id="nav" class="small">
    <div class="centercolumn">
    {% if user.is_authenticated %}
      <div class="right">
        Hello, {{ user }}.
        <a href="/logout/">log off</a>
      </div>
    {% else %}
      <div class="right">
        <form action="/postlogin/" method="post">
          {% csrf_token %}
          <label for="loginuser">Username: </label><input type="text" name="username" id="loginuser"/>
          <label for="loginpass">Password: </label><input type="password" name="password" id="loginpass"/>
          <input class="button" type="submit" value="Log in"/>
        </form>
      </div>
    {% endif %}
      <div class="clear"></div>
    </div>
  </div>
  <div class="centercolumn">
      {% block content %}{% endblock %}
  </div>
  </body>
</html>